    <!-- footer
    ================================================== -->
    <footer class="s-footer">

      <div class="s-footer__bottom">
          <div class="row">
              <div class="column">
                  <div class="ss-copyright">
                      <span>© copyright Glorianna 2021</span> 
                      <span>design based on a free theme by <a href="https://www.styleshout.com/">StyleShout</a></span>		         	
                  </div> <!-- end ss-copyright -->
              </div>
          </div> 

          <div class="ss-go-top">
              <a class="smoothscroll" title="Back to Top" href="#top">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
              </a>
          </div> <!-- end ss-go-top -->
      </div> <!-- end s-footer__bottom -->

 </footer> <!-- end s-footer -->